.mainDiv{
    
    background-image: url('../../Images/casa.png');
     min-height: 100vh; 
    background-size:100% 100%;
    font-size: 0;
	margin-top: -40px 
}

.divCard{
    display: grid;
    grid-gap: 1rem 3.5rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
    margin-right: 20px;

}


.h1{
    font-family: serif;
   font-size: 70px;
    color: rgb(20, 18, 18);
    text-decoration: underline;
	margin-top: 30px;
}


.button {
    margin-top: 20px;
	background-color:rgba(105, 72, 90, 0.507);
	border-radius:2px;
	border:1px solid rgb(73, 46, 61);
	cursor:pointer;
	color:#ffffff;
	font-family:serif;
	font-size:20px;
	padding:10px 30px;
    letter-spacing: 1px;
}

.button2{
    margin-top: 20px;
	background-color:rgba(90, 43, 68, 0.431);
	border-radius:2px;
	border:1px solid rgb(63, 47, 55);
	cursor:pointer;
	color:#ffffff;
	font-family:serif;
	font-size:20px;
	padding:10px 30px;
    letter-spacing: 1px;
}

.loading{
    border: 16px solid #f3f3f3; 
    border-top: 16px solid rgba(37, 17, 28, 0.459); 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: 46.5%;
    margin-top: 150px;
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background-image: url('../../Images/casa.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow:auto
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }