

.divSearch{
    margin-right: 25px;

}
.search {
    font-family:monospace;
    color: rgb(88, 0, 51);

}


.button{
    color: rgb(17, 16, 16);
    background-color: transparent;
    font-family: fantasy;
    font-size: 20px;
    cursor: pointer;
    height: 46px;
}

.input{
    border: 1px solid transparent;
    font-family: fantasy;
    font-size: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 350px;
}
.input::placeholder{
    font-size: 18px;
}